* {
    font-family: 'Crimson Text';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.formulario-contenido {
    background-image: url(/assets/img/imagenFondo.png );
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.formulario-inicio {
    border: 4px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff6f6df;
    max-width: 870px;
    min-width: 50%;
    margin: auto;
    padding: 10px 80px;
    height: 480px;
}

.formulario-inicio h2 {
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 3.2rem;
}

.formulario-inicio button {
    padding: 20px;
    color: rgb(21, 17, 0);
    background-color: rgba(255, 254, 218, 0.979);
    font-size: 20px;
    font-weight: bolder;
    font-weight: 900;
}

.formulario-inicio button:hover {
    background-color: #a25349;
    transition: all 0.5s;
    color: #f7efed;
}

.info-a-realizar p {
    font-family: 'Crimson Text';
    font-weight: 900;
    text-align: center;
}

.formulario-inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario-inputs div {
    display: flex;
    justify-content: center;
}

.formulario-inputs input {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.input ::placeholder {
    font-size: 2rem;
}

.formulario-contenido a {
    text-decoration: none;
}

.aceptar-terminos-condiciones {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

.icono-check {
    display: none;
    transform: translateX(-120%);
}

.icono-correoNoValido {
    display: none;
    transform: translateX(-120%);
}


/* Estilos para el mensaje de error */

.formulario-mensaje {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.error {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    background-color: #f66060;
    padding: 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.formulario-mensaje p {
    margin: 0;
}

.formulario-mensaje i {
    margin-right: 8px;
}

.contenedor-input-error {
    font-weight: bolder;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 65px;
    margin-right: 300px;
}

.formulario-input-error {
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-input-error {
    display: block;
    width: 100%;
}

.exito {
    font-size: 14px;
    background-color: #43a800;
    padding: 10px 0;
    text-align: center;
}

#email-group input {
    width: 100%;
}


/* Estilos para los íconos de validación */

.validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}