*{
   font-family: 'Crimson Text';
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

.formulario-contenido{
      background-image: url(/assets/img/imagenFondo.png );
      background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100vh;

}
.formulario-inicio{
   border: 4px solid black;
   border-radius:3px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:#fff5f5;
   max-width: 400px;
   min-width: 20%; /*la prioridad la tiene este */
   margin: auto;
   /**
   width: min-content; /* yo quiero que minimo tengas este minimo de tamanio*/
  /* max-width: 50%; /*hasta aca llegas*/
   /**/
   padding:  50px;
   
   
}
.formulario-inicio h2{
   color: black;
   text-align: center;
   font-size:3.2rem;
   text-shadow: 0px 7px 7px rgba(rgb(240, 190, 26), green, blue, alpha);
   font-family: 'Crimson Text';


}
.formulario-inicio button{
   padding: 20px;
   color: rgb(21, 17, 0);
   background-color: rgba(255, 254, 218, 0.979);
   font-size: 20px;
   font-weight: bolder;
   font-weight: 900;
   
}
.formulario-inicio button:hover{
   background-color: #a25349;
   transition: all 0.5s;
   color:#f7efed;

}
.info-a-realizar p{
   font-family: 'Crimson Text';
   font-weight: 900;
   text-align: center;
   
   
   
}
.formulario-inputs{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top:10px ;
   margin-bottom: 10px;
   
}
.formulario-inputs div{
   display: flex;
   justify-content: center;
   
}
.formulario-inputs input{
   padding: 15px;
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius:5px ;
}

.input ::placeholder{
   font-size: 2rem;
}

.formulario-contenido a {
   text-decoration: none;
}


.aceptar-terminos-condiciones{
   display: flex;
   justify-content: center;
   margin-bottom: 60px;
   margin-top: 20px;
}
