* {
    font-family: 'Crimson Text';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.formulario-seccion {
    background-image: url(/assets/img/imagenFondo.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.formularios {
    border: 4px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff6f6df;
    max-width: 400px;
    min-width: 20%;
    /*la prioridad la tiene este */
    margin: auto;
    /**
   width: min-content; /* yo quiero que minimo tengas este minimo de tamanio*/
    /* max-width: 50%; /*hasta aca llegas*/
    /**/
    padding: 50px;
}

.formularios h2 {
    color: rgb(13, 13, 13);
    font-size: 3.2rem;
    text-align: center;
}

.formularios a {
    text-decoration: none;
    color: rgb(0, 0, 186);
}

.formulario-inputs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.formulario-inputs div {
    display: flex;
    justify-content: center;
}

.input-group {
    position: relative;
}

.formulario-inputs input {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
}

input::placeholder {
    font-size: 1rem;
}

.formularios button {
    background-color: rgba(255, 254, 218, 0.979);
    color: #f7efed;
    font-weight: bolder;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}

.formularios button:hover {
    background-color: #db9a91;
    color: #876962;
    transition: all 0.5s;
}

.seccion-registro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.seccion-registro p {
    margin-right: 7px;
}

.seccion-registro a {
    font-weight: bolder;
}

.seccion-aceptar-terminos {
    margin-top: 10px;
}


/*COLOCARL EL ICONO DEL OJO*/

.bx {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    color: #666;
}