/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=2a090e-fff5f5-b02134-ffd1d8-5e030f */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=f7efed-2e1715-a25349-4d2823-713a33 */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara');



:root {
   --light-color-texto: #2a090e;
   --light-color-fondo: #fff5f5;
   --light-color-acento-1: #b02134;
   --light-color-acento-2: #ffd1d8;
   --light-color-acento-3: #5e030f;
   --dark-color-texto: #f7efed;
   --dark-color-fondo: #2e1715;
   --dark-color-acento-1: #a25349;
   --dark-color-acento-2: #4d2823;
   --dark-color-acento-3: #713a33;
}

.light-theme {
   color: #2a090e;
   background-color: #fff5f5;
}

.dark-theme {
   color: #f7efed;
   background-color: #2e1715;
}
